body {
    background-color: rgba(151, 19, 19, 0.76);
    
}
#first-tittle {
    font-family: 'Cinzel Decorative', cursive;
    color: red;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    
}

#araralogo:hover {
    color: red;
}

#araralogo {
    text-decoration: none;
    border: solid black 1px;
    border-radius: 20px;
    padding: 7px;
}

#sec-tittle {
    font-size: 20px;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    display: block;
    margin-top: 300px;
}



@media screen and (max-width: 1024px) {
    #first-tittle {font-size: 50px;}
    #sec-tittle {margin-top: 600px;}


}